.menu {
  height: 100vh;
  padding-top: 15px;
  box-sizing: border-box;
}

.layout-con {
  height: 100%;
  width: 100%;
}



.menu-item span {
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}

.menu-item i {
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}

.collapsed-menu span {
  width: 0px;
  transition: width .2s ease;
}

.collapsed-menu i {
  transform: translateY(12px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}

.ivu-menu-item,
.ivu-menu-submenu {
  text-align: left;
}

.logo-con {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 10px 4px 10px;
  margin: 0 30px 15px 20px;
  img {
    width: 140px;
  }
}


.collapsed-menu .logo-con {
  width: 45px;
  padding: 0px;
  overflow: hidden;
  padding-top: 20px;
  margin-left: 18px;
}
